
@{
    ViewBag.Title = "Acerca";
}

<h2>Acerca</h2>
<br />
<img src="~/yo/img367.jpg" alt=""  width="150">

<br />
<br />
<br />

<h4>Nombre: Raiza Araide Polanco Garcia </h4>
<h4> Edad: 19 </h5>
<h4> Modulos trabajados</h4>
<h4> Vincular la aplicación con Facebook</h4>
<h4> Formulario de solicitud de empleo</h4>
<h4> Filtro de contenidos (incompleto)</h4>


