
@{
    ViewBag.Title = "Contenido";
}

<h2>Contenido</h2>
<html>
<head>



</head>
<body>
    <div class="contenedor">
        <input type="radio" name"filtro" id="noticias">
        <label for="noticias">Noticias</label>

        <input type="radio" name"filtro" id="musica">
        <label for="musica">Musica</label>

        <input type="radio" name"filtro" id="peliculas">
        <label for="pelicula"> Pelicula</label>

        <div id="datos">
            <div class="noticias">
                <a href="https://listindiario.com "></a>
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Barbados_beach.jpg" width="300" />
                @*<img src="https://listindiario.com" alt="" />*@
                <img src="" alt="" />
                <img src="" alt="" />
            </div>

        </div>
    </div>
    

</body>
</html>