
@{
    ViewBag.Title = "Contenido";
}

<h2>Contenido</h2>
<html>
<head>
    <link rel="stylesheet" href="~/Views/style.css" />


</head>
<body>
    <div class="contenedor">
        <input type="radio" name"filtro" id="noticias">
        <label for="noticias">Noticias</label>

        <input type="radio" name"filtro" id="musica">
        <label for="musica">Musica</label>

        <input type="radio" name"filtro" id="peliculas">
        <label for="pelicula"> Pelicula</label>

        <div id="imagenes">
            <div class="noticias">
                <h2> Locales</h2>
                <p><a href="https://listindiario.com " class="btn btn-primary btn-lg">Listin Diario</a></p>
                <br />
                <p><a href="https://noticiassin.com " class="btn btn-primary btn-lg">Noticas sin</a></p>
                <br />
                <p><a href="https://cnnespanol.cnn.com " class="btn btn-primary btn-lg">CNN españo</a></p>
                <br />
                <p><a href="https://remolacha.net " class="btn btn-primary btn-lg">Remolacha</a></p>
                <br />
                <p><a href="https://hoy.com.do" class="btn btn-primary btn-lg">Hoy</a></p>
                <h2>Internacionales</h2>

                <p><a href="https://www.bbc.com " class="btn btn-primary btn-lg">BBC</a></p>
                <br />
                <p><a href="https://www.elmundo.es" class="btn btn-primary btn-lg">El mundo</a></p>
                <br />
                <p><a href="https://www.rtve.es" class="btn btn-primary btn-lg"> rtve</a></p>
                <br />
                <p><a href="https://www.abc.es " class="btn btn-primary btn-lg">ABC</a></p>
                <br />
                <p><a href="https://www.eitb.eus/es/noticias/internacional/" class="btn btn-primary btn-lg">eitb</a></p>
            </div>
            <div class="musica">
                <h2>Musica</h2>
                <p><a href="https://soundcloud.com " class="btn btn-primary btn-lg">Sound Cloud</a></p>
                <p><a href="https://music.youtube.com " class="btn btn-primary btn-lg">Youtube</a></p>
                <p><a href="https://www.spotify.com/do/ " class="btn btn-primary btn-lg">Spotify</a></p>
                <p><a href=" https://play.google.com/store/music" class="btn btn-primary btn-lg">Play music</a></p>
                <p><a href="https://www.apple.com/es/music/" class="btn btn-primary btn-lg">Apple music</a></p>

            </div>
            <div class="pelicula">
                

            </div>

        </div>
    </div>
    

</body>
</html>